
@{
    ViewBag.Title = "About";
}

<div style="font-size:large">
    <h2>About @Html.ActionLink("NBID", "Index", "Home")</h2><hr />
    <p>
        <h3>Purpose</h3>
        <ul>
            <li>Allow users to look up customers along with all their related accounts to the city</li>
        </ul>
        <h3>Users</h3>
        <ul>
            <li>IT Apps</li>
            <li>Finance</li>
            <li>Revenue</li>
        </ul>
    </p>
</div>

