
@{
    ViewBag.Title = "Contact";
}


<div style="font-size:large">
    <h2>Contact</h2><hr />
    <p>
        100 Civic Center Dr<br />
        Newport Beach, CA 92660<br />
        Phone: 949.644.3096
    </p>

    <address>
        <strong>Support:</strong>  <a href="mailto:ITHelp@newportbeachca.gov">ITHelp@newportbeachca.gov</a><br />
    </address>
</div>



