@model NBID.Models.HomeViewModels
@{
    ViewBag.Title = "TopMerge";
}

@if (Model.SuccessMessage)
{
    <div class="alert alert-success">
        Success, NBID's merged!
    </div>
}

@if (Model.ErrorMessage)
{
    <div class="alert alert-danger">
        Please re-enter the NBID's
    </div>
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row text-center">
            <h4>Please enter NBID's in the boxes below to merge</h4>
        </div>
        <div style="width:300px; margin: 0 auto">
            <input class="form-control" name="id1" placeholder="NBID #1" type="number" />
        </div>
        <div style="width:300px; margin: 0 auto">
            <input class="form-control" name="id2" placeholder="NBID #2" type="number" />
        </div>
        <div class="row text-center" style="padding-top:5px">
            <button class="btn btn-primary">Merge</button>
        </div>
    </div>
}

